/* webpage reset rule */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body,html reset */
body, html {
    height: 100%;
}

/* background styling */
.background-image {
    background-image: url("../creative-housing-logos/logo_transparent.png"), url("../images/desk-background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: 80%, cover;
    background-position: 50% 70%, center center;
}

/* menu style in default possition */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: white;
  cursor: pointer;
  z-index: 1;
  border-right: 1px solid rgba(0,0,0,.1);
}

/* menu content lines style */
.menu span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  display: block;
  top: calc(50% - 1px);
  left: calc(50% - 15px);
  transition: 0.2s;
}

/* possitioning line 1 */
.menu span:nth-child(1) {
  transform: translateY(-10px);
}

/* possitioning line 3 */
.menu span:nth-child(3) {
  transform: translateY(10px);
}

/* possitioning line 1 for translation */
.menu.active span:nth-child(1) {
  transform: translateY(0px) rotate(-45deg);
}

/* possitioning line 2 for translation */
.menu.active span:nth-child(2) {
  transform: translateX(-30px);
  opacity: 0;
}

/* possitioning line 3 for translation */
.menu.active span:nth-child(3) {
  transform: translateY(0px) rotate(45deg);
}

/* menu bar default posstion styling */
.menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  transition: 0.7s;
  transform: translateX(-100%);
}

/* menu bar active translation */
.menu-bar.active {
  transform: translateX(0);
}

/* unordered list styling (equal space and translated, 'floated' right of navbar) */
.menu-bar ul {
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
}

/* removing bullets */
.menu-bar ul li {
  list-style: none;
}

/* beta anchor style (removed!) */
/*.menu-bar ul li a {
  line-height: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  border-right: 1px solid rgba(0,0,0,.1);
}*/

/* Credit to EvyatarDa for circleBehind Hover Affect */
/* naviagtion anchor styles */
div.container a
{
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
    text-transform: uppercase;
    padding: 0px 20px;
    position: relative;
    cursor: pointer;
}

/* Circle behind 'Animation' */
div.circleBehind a:before, div.circleBehind a:after
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #B7F7F5;
    transform: translateX(-50%) translateY(-50%) scale(0.05);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.7s;
    z-index: -1;
}

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.8s;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}
/* end EvyatarDa credit */

/* right border of menu 'button' */
.menu-bar ul li:last-child a {
  border-right: none;
}

/* mobile support fixes */
@media (max-width: 768px) {

  .background-image {
    background-position: 50% 25%, center center;
  }

  .menu-bar {
    height: auto;
  }
  .menu-bar ul {
    display: inherit;
    float: none;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  .menu-bar ul a {
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
}
