/* add any overwrites */

/* Reset Rule */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E8D6CB;
}

h1 {
  /*border: 5px solid black;*/
  font-family: 'Mali', cursive;
  font-size: 48px;
  color: #B58DB6;
  text-align: center;
  margin: 30px auto;
  padding-bottom: 25px;
  border-bottom: 3px solid #B58DB6;
}

.container1 {
  display: block;
  width: 33%; height: 50%;
  padding-left: 15px;
  padding-top: 25px;
  background-color: #D0ADA7;
  position: relative;
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 15px;
}

h2 {
  /*border: 5px solid black;*/
  font-family: 'Mali', cursive;
  font-size: 30px;
  color: #5D2E46;
  width: 90%;
  margin: 0px auto;
}

.navigation1 {
  display: flex;
  width: 80%;
  /*border: 5px solid #AD6A6C;*/
  margin: 25px auto;
}

ul {
  list-style: none;
}

li {
  margin: 10px;
}
