/*================*/
/* Print Screen Style */
/*================*/

/*reset rule*/
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: times;
  text-align: right;
  border-bottom: 2px solid black;
}

p a {
  color: black;
  text-decoration: none;
}

p a::after {
  content: "("attr(href)")";
}

h1 span::after {
  content: "this is the printy page"
}

.screen-only {
  display: none;
}
